{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="/site_media/js/jquery.bgiframe.js"></script>
<script type="text/javascript" src="/site_media/js/date.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.datePicker.js"></script>
{% ifequal request.LANGUAGE_CODE 'es' %}
<script type="text/javascript" src="/site_media/js/date_es.js"></script>
{% endifequal %}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{ apikey }}"></script>
<script type="text/javascript" src="/site_media/js/jquery.jmaps.1.4.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.profile.js"></script>
<link rel="stylesheet" href="/site_media/css/datePicker.css" type="text/css" />
{% endblock %}

{% block content %}
{% load profile_tags %}
<h1>{% trans "Tell others something about you" %}</h1>
<form class="commonform profile" action="" method="post" enctype="multipart/form-data">
  <fieldset>
    <p class="error">{{ form.errors }}</p>
   	<input style="margin-bottom: 10px;" type="button" class="save" value="{% trans 'Save' %}" />
		<p>
    	<label for="id_username">{% trans "Username:" %}</label>
    	<strong id="id_username">{{ user }}</strong> 
			<a href="/accounts/password/change">{% trans "(Change password)" %}</a></p>
		</p>
		<p>
    	<label for="id_email">{% trans "E-mail:" %}</label>
    	<strong id="id_email">{%if not email %}{% trans "Not set yet" %}{% else %}{{ email }}{% endif %}</strong> 
			(<a href="/accounts/email/change">{% if email %}{% trans "Change your e-mail address" %}{% else %}{% trans "Add your e-mail address" %}{% endif %}</a>)</p>
		</p>
		<p>
   		<label for="id_avatar">{% trans "Avatar:" %}</label>
   		<a class="avatar" href="/profile/avatar/one/">{% trans "Change" %}</a> <a class="delavatar" href="/profile/avatar/delete">{% trans "Delete" %}</a>
			<a class="avatar" href="/profile/avatar/one/">
     		{% if avatar %}
     		<img id="avatar" src="{{ user|avatar:"96"}}" />
     		{% else %}
     		<img id="avatar" src="/site_media/images/default.gif" />
     		{% endif %}
			</a>
		</p>
		<hr />
		<p>
    	<label for="id_firstname">{% trans "First Name:" %}</label>
    	{{ form.firstname }}
		</p>
		<p>
    	<label for="id_surname">{% trans "Surname:" %}</label>
    	{{ form.surname }}
		</p>
		<p>
    	<label for="id_gender">{% trans "Gender:" %}</label>
			<a class="male" href="">{% trans "Male" %}</a>
			<a class="female" href="">{% trans "Female" %}</a>
		</p>
		<p>
   		<label for="id_birthdate">{% trans "Birth date:" %}</label>
			<span><div class="calendar"></div></span>
		</p>
		<hr />
		<p>
    	<label for="id_url">{% trans "Url:" %}</label>
    	{{ form.url }}
		</p>
		<p>
    	<label for="id_about">{% trans "About:" %}</label>
    	{{ form.about }}
		</p>
		<hr />
		<p>
    	<label for="id_country">{% trans "Country:" %}</label>
    	{{ form.country }}
			<img id="country_loading" src="/site_media/images/loading.gif" />
		</p>
		<p>
    	<label for="id_location">{% trans "Location:" %}</label>
			{{ form.location }} 
			<input id="clearLocation" type="button" value="Clear" /> 
			<input id="searchAddress" type="button" value="Lookup" />
		</p>
		<p>
    	<label for="id_position">{% trans "Position:" %}</label>
			<div id="jmap"></div>
		</p>
		<hr />
		<p>
    	<label for="id_other">{% trans "Other actions:" %}</label>
    	<a href="/profile/delete">{% trans "Delete all my personal information" %}</a>
		</p>
    <div>{{ form.birthdate }}{{ form.latitude }}{{ form.longitude }}{{ form.gender }}</div>
  </fieldset>
</form>
{% endblock %}
