{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{ apikey }}"></script>
<script type="text/javascript" src="/site_media/js/jquery.jmaps.1.4.js"></script>
<script type="text/javascript" src="/site_media/js/ui.datepicker.js"></script>
{% ifequal request.LANGUAGE_CODE 'es' %}
<script type="text/javascript" src="/site_media/js/ui.datepicker-es.js"></script>
{% endifequal %}
<script type="text/javascript" src="/site_media/js/jquery.profile.js"></script>
<link rel="stylesheet" href="/site_media/css/ui.datepicker.css" type="text/css" />
{% endblock %}

{% block content %}
<h1>{% trans "Tell others something about you" %}</h1>
<form class="userdata biglabel" action="" method="post" enctype="multipart/form-data">
  <fieldset>
    {{ form.errors }}
		<div class="right">
			<div class="box">
    		<p class="title">{% trans "Avatar:" %}</p>
    		<p class="title"><a class="avatar" href="/profile/avatar/one/">{% trans "Change" %}</a> <a class="delavatar" href="/profile/avatar/delete">{% trans "Delete" %}</a></p>
      	{% if avatar %}
      		<a class="avatar" href="/profile/avatar/one/"><img id="avatar" src="{{ avatar.get_absolute_url }}" /></a>
      	{% else %}
      		<a class="avatar" href="/profile/avatar/one/"><img id="avatar" src="/site_media/images/default.gif" /></a>
      	{% endif %}
			</div>
			<br />
			<div class="box">
    		<p class="title">{% trans "Birth date:" %}</p>
    		<p style="text-align: center"><span class="calendarInline"></span></p>
			</div>
		</div>
		<div>
			<p class="savedmsg">{% trans "Profile saved" %}</p>
    	<input style="margin-bottom: 10px;" type="button" class="save" value="{% trans 'Save' %}" />
		</div>
		<br />
    <label for="id_username">{% trans "Username:" %}</label>
    <p style="line-height: 29px;"><span style="font-size: 16px; font-weight: bold;">{{ user }}</span> <a href="/accounts/password/change">{% trans "(Change password)" %}</a></p>
    <label for="id_email">{% trans "E-mail:" %}</label>
    <p style="line-height: 29px;"><span style="font-size: 16px; font-weight: bold;">{%if not email %}{% trans "Not set yet" %}{% else %}{{ email }}{% endif %}</span> (<a href="/accounts/email/change">{% trans "Add your e-mail address" %}</a>)</p>
    <label for="id_firstname">{% trans "First Name:" %}</label>
    {{ form.firstname }}
    <label for="id_surname">{% trans "Surname:" %}</label>
    {{ form.surname }}
	<div>
    <label for="id_gender">{% trans "Gender:" %}</label>
		<div id="gender"><a class="male" href="">{% trans "Male" %}</a><a class="female" href="">{% trans "Female" %}</a></div>
	</div>
    <br />
		<div class="newselect">
    	<label for="id_country">{% trans "Country:" %}</label>
    	{{ form.country }}
			<img id="country_loading" style="display: none;" src="/site_media/images/loading.gif" />
		</div>
		<div id="countrydetail" style="margin-bottom: 5px;">
    	<label for="id_location">{% trans "Location:" %}</label>
			{{ form.location }} <input style="float: left;" id="clearLocation" type="button" value="Clear" /> <input style="float: left;" id="searchAddress" type="button" value="Lookup" />
    	<br />
    	<label for="id_position">{% trans "Position:" %}</label>
			<div id="jmap"></div>
    	<br />
		</div>
    <label for="id_url">{% trans "Url:" %}</label>
    {{ form.url }}
    <div id="urlmsg" class="message">
    {% if form.url.errors %}{{ form.url.errors|join:", " }}{% endif %}
    </div>
    <br />
    <label for="id_about">{% trans "About:" %}</label>
    {{ form.about }}
    <div id="aboutmsg" class="message">
    {% if form.about.errors %}{{ form.about.errors|join:", " }}{% endif %}
    </div>
    <br />
		<div style="margin-top: 5px;">
    <label for="id_passwd">{% trans "Other actions:" %}</label>
    <p style="line-height: 29px;"><a style="font-size: 16px; font-weight: bold;" href="/profile/delete">{% trans "Delete all my personal information" %}</a></p>
		</div>
    <br />
    <div style="display:none;">{{ form.birthdate }}{{ form.latitude }}{{ form.longitude }}{{ form.gender }}</div>
		<div>
      <p class="savedmsg">{% trans 'Profile saved' %}</p>
    	<input type="button" class="save" value="{% trans 'Save' %}" />
		</div>
  </fieldset>
</form>
<br />
{% endblock %}
