{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ cuser }}'s public profile{% endblock %}

{% block content %}
<div class="navigation">
  <form class="vote" style="display: none" action=""></form>
  <h1>{% trans "Actions" %}</h1>
  <ul>
	{% if not contact %}
 		<li><a href="{{ cuser.get_absolute_url }}add">{% blocktrans %}Add {{ cuser }} to my contact list{% endblocktrans %}</a></li>
	{% else %}
 		<li>{% blocktrans %}{{ cuser }} is already in your contact list{% endblocktrans %}</li>
  {% endif %}
 		<li><a href="{{ cuser.get_absolute_url }}add">{% blocktrans %}Subscribe to the RSS of {{ cuser }}{% endblocktrans %}</a>
 		<li><a href="/conversation/new/">{% blocktrans %}Start a conversation with {{ cuser }}{% endblocktrans %}</a></li>
  </ul>
</div>

{% if profile %}
{% if avatar %}
<p style="float: right; padding: 15px; margin-right: 100px;"><img src="{{ avatar.get_absolute_url }}" /></p>
{% endif %}
<h2>Public profile of {{ cuser }}</h2>
<ul>
  <li>Username: {{ cuser }}</li>
  <li>Blog: {{ profile.blog }}</li>
  <li>About: {{ profile.about }}</li>
</ul>
<div>
<p>Number of games:</p> 
<p>Number of links:</p> 
<p>Number of comments:</p> 
<p>Number of votes:</p> 
<p>Number of contacts:</p> 
<p>People who have {{ user }} as contact:</p> 
</div>
{% else %}
<h2>{% blocktrans %}{{ cuser }} has not inserted his profile yet {% endblocktrans %}</h2>
{% endif %}
{% endblock %}

