{% load i18n %}
{% load profile_tags %}
<div class="vcard">
	<a href="{{ profile.get_absolute_url }}"><img class="photo" src="{{ user|avatar:"64" }}" alt="{{ user }}"/></a>
	<ul>
  	<li class="fn nickname">{{ user }}</li>
		{% if profile.country %}
		<li>{{ profile.country }}</li>
		{% endif %}
		{% if yearsold %}
		<li>{% blocktrans %}{{ yearsold }} years old{% endblocktrans %}</li>
		{% endif %}
		{% if profile.url %}
		<li><a class="url" href="{{ profile.url }}">{% trans "My Website" %}</a></li>
		{% endif %}
		{% if gender_img %}
		<li><img src="{{ gender_img }}" /></li>
		{% endif %}
	</ul>
</div>
