{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block customjs %}
  <script type="text/javascript">
    $(function() {
			$("input[type='text']").focus();
			$("form#images").submit(function() {
				$("img#loading").show();
				$("div.photos").html('');
				if ($("input[type='text']").val()) {
					$.post("{{ request.path }}", { 'search': $("input[type='text']").val() }, function(data) {
						if (data.success) {
							for (var photo in data.photos) {
								$("div.photos").append('<a href="' + data.urls[photo] + '"><img src="' + data.photos[photo] + '" /></a>');
							}
							$("div.photos a").click(function() {
								$("form#avatar input[name='url']").val($(this).attr("href"));
								$("form#avatar").submit();
								return false;	
							});
						}
						$("img#loading").hide();
					}, "json");
				}
				return false;
			});
			$("input[name='cancel']").click(function() {
				window.location="/profile/avatar/choose/";
			});
		});
	</script>
{% endblock %}
{% block content %}
	{% include "userprofile/menu.html" %}
	<form class="commonform" action="" id="images">
		<h1>{% trans "Choose the source of your avatar" %}</h1>
		<p class="title">{% trans "Search on Picasa Web:" %} <input type="text" value="" /> <input type="submit" value="{% trans "Search" %}"/> <input type="button" name="cancel" value="{% trans "Cancel" %}" /> <img id="loading" style="display: none;" src="{{ MEDIA_URL }}images/loading.gif" /></p>
	</form>
	<div class="photos">
	</div>
	<form id="avatar" action="/profile/avatar/" method="POST">
		<input type="hidden" name="url" value="" />
	</form>
{% endblock %}
