{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>{% trans "Change avatar" %}</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/avatar.css" type="text/css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.2.6.min.js"></script>
	{% if profile.avatartemp %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dimensions.pack.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.imgareaselect-0.4.2.min.js"></script>
	<script type="text/javascript">
	$(function() {
		function updateValues(img, selection) {
			$("input[name='left']").val(selection.x1);	
			$("input[name='top']").val(selection.y1);	
			$("input[name='right']").val(selection.x2);	
			$("input[name='bottom']").val(selection.y2);	
		}

		$(window).load(function() {

			$("input[name='width']").val($("#cropimage").width());
			$("input[name='height']").val($("#cropimage").height());
			$("a.done").click(function() {
				$("form").submit();
				return false;
			});

			if ($("#cropimage").width() < 200 || $("#cropimage").height() < 200) {
				window.resizeTo(300, 300);
			} else {
				window.resizeTo($("#cropimage").width() + 10, $("#cropimage").height() + 90);
			}
			$("#cropimage").imgAreaSelect({ aspectRatio: "1:1", onSelectEnd: updateValues });
		});

    $("a.cancel").click(function() {
      $.post($(this).attr("href"), function(data) {
      	window.close();
      });
      return false;
    });

  	$("a.another").click(function() {
   		$.post($(this).attr("href"), function(data) {
      	window.resizeTo(500, 420);
        window.location = "/profile/avatar/choose/";
   		});
      return false;
		});

		$("input[@type=submit].buttondone").click(function() {
     	var a = $("#child").position();
       $("#id_top").val(a.top);
       $("#id_left").val(a.left);
       $("#id_size").val($("#child").height());
 		});
	});
	</script>
	{% else %}
	<script type="text/javascript">
		$(function() {
     	$("#id_photo").change(function() {
       	$("form").submit();
     	});
		});
	</script>
	{% endif %}
</head>
<body>
  {% if profile.avatartemp %}
	<p class="title">
		<a class="done" style="margin-right: 20px;" href="{{ request.path }}">{% trans 'Done' %}</a>
		<a class="another" style="margin-right: 20px;" href="/profile/avatartemp/delete/">{% trans 'Select anoter image' %}</a>
		<a class="cancel" href="/profile/avatartemp/delete/">{% trans 'Cancel' %}</a>
	</p>
  <form method="post" action="/profile/avatar/crop/">
    <input type="hidden" name="width" value="0"/>
    <input type="hidden" name="height" value="0"/>
    <input type="hidden" name="top" value="0"/>
    <input type="hidden" name="top" value="0"/>
    <input type="hidden" name="bottom" value="0"/>
    <input type="hidden" name="left" value="0"/>
    <input type="hidden" name="right" value="0"/>
  </form>
	<img src="{{ profile.get_avatartemp_url }}" id="cropimage" />
	{% else %}
	<p class="title" style="border-bottom: 2px solid;">{% trans "You have 3 options to select the image file you want as avatar in your profile:" %}</p>
  <form class="commonform" action="" method="post" enctype="multipart/form-data">
		<ol>
			<li>
    		<label for="id_url">{% trans "Select an image from a remote URL:" %}</label>
    		{{ form.url }}
				<input type="submit" value="{% trans "Done" %}" />
			</li>
			<li>
    		<label for="id_photo">{% trans "Select an image from disk:" %}</label>
    		{{ form.photo }}
			</li>
			{% if websearch %}
			<li>
				<a href="/profile/avatar/searchimages/">{% trans "Search for an image on Picasa Web" %}</a>
			</li>
			{% endif %}
		</ol>
  </form>
	{% if form.errors %}
	{{ form.errors }}
	{% endif %}
	{% endif %}
</body>
</html>
