{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block customjs %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.imgareaselect-0.4.2.min.js"></script>
	<script type="text/javascript">
	$(function() {
		function updateValues(img, selection) {
			$("input[name='left']").val(selection.x1);	
			$("input[name='top']").val(selection.y1);	
			$("input[name='right']").val(selection.x2);	
			$("input[name='bottom']").val(selection.y2);	
		}

		$(window).load(function() {
			$("#cropimage").imgAreaSelect({ aspectRatio: "1:1", onSelectEnd: updateValues });
		});
	});
	</script>
{% endblock %}
{% block content %}
	{% include "userprofile/menu.html" %}
  <form class="commonform" method="post" action="{{ request.path }}">
		<h1>{% trans "Crop&resize the area you want" %}</h1>
		<p><input type="submit" class="done" value="{% trans 'Done' %}" /></p>
  	{% if form.errors %}
    {% for error,desc in form.errors.items %}
      <p class="error" style="width: 99%; margin: 5px 0px;">{{desc|join:","}}</p>
    {% endfor %}
  	{% endif %}
		<img src="{{ profile.get_avatartemp_url }}" id="cropimage" />
    <input type="hidden" name="top" value="0"/>
    <input type="hidden" name="bottom" value="0"/>
    <input type="hidden" name="left" value="0"/>
    <input type="hidden" name="right" value="0"/>
  </form>
{% endblock %}
