{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if request.user.email %}{% trans "E-mail change" %}{% else %}{% trans "Add e-mail" %}{% endif %}{% endblock %}
{% block customjs %}
  <script type="text/javascript">
    $(function() {
      $("input[type='text'], input[type='text']").addClass("text");
    });
  </script>
{% endblock %}

{% block content %}
{% include "userprofile/menu.html" %}
<h4>{% trans "Insert the new e-mail address. An e-mail will be send to it for testing and confirmation." %}</h4>
<form action="" method="post">
 	<fieldset>
		<legend>{% if request.user.email %}{% trans "E-mail change" %}{% else %}{% trans "Add e-mail" %}{% endif %}</legend>
 		<label for="id_email">{% trans 'New e-mail address:' %}</label>
   	<p>{{ form.email }}</p>
 		<p><input type="submit" value="{% trans 'Send confirmation' %}" /></p>
 	</fieldset>
  {% if form.errors %}
    {% for error,desc in form.errors.items %}
      <p class="error">{{ error }}: {{desc|join:","}}</p>
    {% endfor %}
  {% endif %}
</form>
{% endblock %}
