{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.location.js"></script>
{% endblock %}
{% block content %}
{% include "userprofile/menu.html" %}
<form class="commonform profile" action="{{ request.path }}" method="post" enctype="multipart/form-data">
	<h1>{% trans "Define your location" %}</h1>
  <fieldset>
		<div>
   		<label for="id_country">{% trans "Country:" %}</label>
			<select name="country" id="id_country">
				<option value="">{% trans "Not set" %}</option>
				<option value="" disabled="disabled">{% trans "More common..." %}</option>
				<option value="ES">{% trans "Spain" %}</option>
				{% for continent,countries in country_data.items %}
					<option value="" disabled="disabled">{{ continent }}</option>
					{% for country in countries %}
					<option value="{{ country.code }}" {% ifequal profile.country.name country.name %}selected="selected"{% endifequal %}>{{ country }}</option>
					{% endfor %}
				{% endfor %}
			</select>
			<img class="loading" src="{{ MEDIA_URL }}images/loading.gif" />
		</div>
		<div class="mapinfo">
   		<label>{% trans "Location:" %}</label>
			<p id="location_info" style="float: left; line-height: 28px; margin: 0px;">{{ profile.location }}</p>
		</div>
		<div class="mapinfo">
   		<label for="map">{% trans "Position:" %}</label>
			<div id="map"></div>
		</div>
    <div style="display: none;">{{ form.location }}{{ form.latitude }}{{ form.longitude }}</div>
		<div class="save">
			<input type="submit" style="float: right;" class="save" value="{% trans 'Save' %}" />
		</div>
		<div style="display: none;" id="apikey">{{ APIKEY }}</div>
	</fieldset>
</form>
{% endblock %}
