{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block content %}
{% load userprofile_tags %}
{% include "userprofile/menu.html" %}
<form class="commonform profile" action="" method="post" enctype="multipart/form-data">
	<h1>{% trans "Overview about your public profile" %}</h1>
  <fieldset>
		<div>
    	<label for="id_user">{% trans "Username:" %}</label>
    	<strong id="id_user">{{ profile.user }}</strong> 
		</div>
		<div>
    	<label for="id_email">{% trans "E-mail:" %}</label>
       <strong id="id_email">{%if not email %}{% trans "Not set yet" %}{% else %}{{ email }}{% endif %}</strong> 
                       (<a href="/accounts/email/change">{% if email %}{% trans "Change your e-mail address" %}{% else %}{% trans "Add your e-mail address" %}{% endif %}</a>)
		</div>
  </fieldset>
</form>
<div class="save">
	<input type="button" style="float: right;" class="save" value="{% trans 'Save' %}" /><img style="float: left;" class="saving" src="{{ MEDIA_URL }}images/loading2.gif" />
</div>
{% endblock %}
