{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block content %}
{% load userprofile_tags %}
{% include "userprofile/menu.html" %}
<form class="commonform profile" action="" method="post">
	<h1>{% trans "Overview of your profile" %}</h1>
	{% if profile.avatar %}
	<div class="avatar">
		<img src="{{ profile.get_avatar96_url }}" />
	</div>
	{% endif %}
  <fieldset>
		<div>
    	<label for="id_user">{% trans "Username:" %}</label>
    	<strong id="id_user">{{ profile.user }}</strong> 
		</div>
		<div>
    	<label for="id_email">{% trans "E-mail:" %}</label>
       <strong id="id_email">{%if not email %}{% trans "Not set yet" %}{% else %}{{ email }}{% endif %}</strong> 
                       (<a href="/account/email/change">{% if email %}{% trans "Change your e-mail address" %}{% else %}{% trans "Add your e-mail address" %}{% endif %}</a>)
		</div>
  </fieldset>
</form>
{% endblock %}
