{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validation.js"></script>
{% endblock %}

{% block content %}
<div class="center">
	<form class="commonform lostpw" action="" method="post">
		<h1>{% trans "Password reset" %}</h1>
		<p class="intro">{% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}</p>
  	<fieldset>
    	<div>
      	<label for="id_email" style="width: 240px;">{% trans 'E-mail address:' %}</label>
      	{{ form.email }}
				<img id="email_img" src="{{ MEDIA_URL }}images/loading.gif" />
    	</div>
    	<input type="submit" style="margin-left: 245px;" value="{% trans 'Reset my password' %}" />
  	</fieldset>
  	{% if form.errors %}
  	<p class="error">{{form.email.errors|join:","}}</p>
  	{% endif %}
	</form>
</div>
{% endblock %}
