{% extends "base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/ui.datepicker.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.profile.js"></script>
<!--<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal-1.1.1.pack.js"></script>-->
<link rel="stylesheet" href="{{ MEDIA_URL }}css/ui.datepicker.css" type="text/css" />
{% ifequal LANGUAGE_CODE 'es' %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/ui.datepicker-{{ LANGUAGE_CODE }}.js"></script>
{% endifequal %}
<script type="text/javascript">
	$(function() {
		{% ifequal LANGUAGE_CODE 'es' %}
		$.datepicker.setDefaults($.datepicker.regional["{{ LANGUAGE_CODE }}"]);
		{% endifequal %}

		function updateInline(date) {
  		var arrdate = date.split("/");
  		$("#id_birthdate").val(arrdate[2] + "-" + arrdate[0] + "-" + arrdate[1]);
		}

  	$("#id_firstname").focus();
  	// On focus, light the focused input
  	$("input[@type=text],textarea").focus(function() {
    	$(this).css("background", "white");
  	});
  	// On blur, unlight the focused input
  	$("input[@type=text],textarea").blur(function() {
    	$(this).css("background", "#E6E6E6");
  	});
  	var date = $("#id_birthdate").val().split("-");
  	$("div.calendar").datepicker({ onSelect: updateInline, hideIfNoPrevNext: true, yearRange: "1940:2010", defaultDate: new Date(date[0],date[1] -1, date[2]) });
  });
</script>
{% endblock %}

{% block content %}
{% load userprofile_tags %}
{% include "userprofile/menu.html" %}
<form class="commonform profile" action="/profile/personal/save/" method="post" enctype="multipart/form-data">
	<h1>{% trans "Edit your personal information" %}</h1>
  <fieldset>
		<div>
    	<label for="id_firstname">{% trans "First Name:" %}</label>
    	{{ form.firstname }}
		</div>
		<div>
    	<label for="id_surname">{% trans "Surname:" %}</label>
    	{{ form.surname }}
		</div>
		<div>
    	<label for="id_gender">{% trans "Gender:" %}</label>
			<a class="male" href="{{ request.path }}">{% trans "Male" %}</a>
			<a class="female" href="{{ request.path }}">{% trans "Female" %}</a>
		</div>
		<div>
   		<label for="id_birthdate">{% trans "Birth date:" %}</label>
			<div class="calendar"></div>
		</div>
		<div>
    	<label for="id_url">{% trans "Url:" %}</label>
    	{{ form.url }}
		</div>
		<div>
    	<label for="id_about">{% trans "About:" %}</label>
    	{{ form.about }}
		</div>
    <div style="display: none;">{{ form.birthdate }}{{ form.gender }}</div>
  </fieldset>
</form>
<div class="save">
  <input type="button" style="float: right;" class="save" value="{% trans 'Save' %}" /><img style="float: left;" class="saving" src="{{ MEDIA_URL }}images/loading2.gif" />
</div>
{% endblock %}
