{% load i18n %}
{% load profile_tags %}
<div class="vcard usercard">
	{% if profile.gender %}<img class="gender" src="{{ profile.get_genderimage_url }}" />{% endif %}
	{% if profile %}
		<a href="{{ profile.get_absolute_url }}"><img class="photo" src="{{ user|avatar:"64" }}" alt="{{ user }}"/></a>
	{% else %}
		<a href="{{ profile.get_absolute_url }}"><img class="photo" src="{{ user|avatar:"64" }}" alt="{{ user }}"/></a>
	{% endif %}
	<ul>
  	<li class="fn nickname"><strong>{% trans "Username" %}:</strong> {{ user }}</li>
		{% if profile.country %}<li><strong>{% trans "Country" %}:</strong> {{ profile.country }}</li>{% endif %}
		{% if profile.yearsold %}<li><strong>{% trans "Age" %}:</strong> {{ profile.yearsold }}</li>{% endif %}
		{% if profile.url %}<li><a class="url" href="{{ profile.url }}"> {% trans "My Website" %}</a></li>{% endif %}
	</ul>
</div>
