{% load i18n %}
<div class="vcard">
	<a style="float: right;" href="{{ profile.get_absolute_url }}">{% trans "Public profile" %}</a>
	{% if profile.gender and profile.visible.gender %}<img class="gender" style="clear: right;" src="{{ profile.get_genderimage_url }}" />{% endif %}
	<ul>
		{% if profile.avatar %}
		<li><img class="photo" src="{{ profile.get_avatar64_url }}" alt="{{ profile.user }}"/></li>
		{% else %}
		<li><img class="photo" src="/site_media/images/default.64.png" alt="{% trans "No avatar" %}"/></li>
		{% endif %}
  	<li class="fn username"><strong>{% trans "Username" %}:</strong> {{ profile.user }}</li>
		{% if profile.country and profile.visible.country_id %}<li><strong>{% trans "Country" %}:</strong> {{ profile.country }}</li>{% endif %}
		{% if profile.yearsold and profile.visible.birthdate %}<li><strong>{% trans "Age" %}:</strong> {{ profile.yearsold }}</li>{% endif %}
		{% if profile.url and profile.visible.url %}<li><a class="url" href="{{ profile.url }}"> {% trans "My Website" %}</a></li>{% endif %}
	</ul>
</div>
