{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Validation e-mail sent' %}{% endblock %}

{% block content %}
{% include "userprofile/menu.html" %}
{% ifequal params.action "success" %}
<h1>{% trans 'Validation e-mail sent' %}</h1>
<p class="intro">{% trans "We've e-mailed you the new account validation e-mail. You are going to receive it shortly." %}</p>
{% else %}
<h1>{% trans 'Your user account was already active' %}</h1>
<p class="intro">{% trans "If you have lost your password you can change it with this utility" %}:</p>
<p class="intro"><a href="/accounts/password/reset/">{% trans "Lost password utility" %}</a></p>
{% endifequal %}
{% endblock %}
