{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Resend the activation e-mail" %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validation.js"></script>
<script type="text/javascript">
	$(function() {
		$("#id_email").focus();
		$("input[type='text']").addClass("text");
	});
</script>
{% endblock %}
{% block content %}
{% include "userprofile/menu.html" %}
<h4>{% trans "Enter your e-mail address below and we'll resend the user activation e-mail to you." %}</h4>
<div class="span-12">
	<form action="" method="post">
  	<fieldset>
  		<legend>{% trans "Resend the activation e-mail" %}</legend>
      <label for="id_email" style="width: 240px;">{% trans 'E-mail address:' %}<img class="hide" id="email_img" src="{{ MEDIA_URL }}images/loading.gif" /></label>
      <p>{{ form.email }}</p>
    	<p><input type="submit" value="{% trans 'Resend validation' %}" /></p>
  	</fieldset>
    {% if form.errors %}
    <p style="margin-left: 250px; font-size: .8em; color: red;">{{form.email.errors|join:","}}</p>
    {% endif %}
	</form>
</div>
{% endblock %}

