{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
	{% if APIKEY %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.location.js"></script>
	{% endif %}
{% endblock %}

{% block nav-main %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block content %}
	<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>{% trans "Define your location" %}</legend>
		<label for="id_country">{% trans "Country" %}<img class="hide" src="{{ MEDIA_URL }}images/loading.gif" /></label>
		<p>
			<select name="country" id="id_country">
				<option value="">{% trans "Not set" %}</option>
				<option value="" disabled="disabled">{% trans "More common..." %}</option>
				<option value="ES">{% trans "Spain" %}</option>
				{% for continent,countries in country_data.items %}
					<option value="" disabled="disabled">{{ continent }}</option>
					{% for country in countries %}
					<option value="{{ country.code }}" {% ifequal profile.country.name country.name %}selected="selected"{% endifequal %}>{{ country }}</option>
					{% endfor %}
				{% endfor %}
			</select>
		</p>

		{% if APIKEY %}
			<div class="mapinfo">
				<label>{% trans "Location" %}</label>
				<p id="location_info">{{ profile.location }}</p>
				<label for="map">{% trans "Position" %}</label>
				<div id="map"></div>
			</div>
			<div class="hide">{{ form.location }}{{ form.latitude }}{{ form.longitude }}</div>
			<div style="display: none;" id="apikey">{{ APIKEY }}</div>
		{% endif %}

		<input type="submit" value="{% trans 'Save' %}" />
	</fieldset>
	</form>
{% endblock %}
