{% extends "base_2col.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
	{% if profile.latitude and profile.longitude %}
	<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={{ APIKEY }}" type="text/javascript"></script>
	<script type="text/javascript">
		$(function() {
			if (GBrowserIsCompatible()) {
				this.map = new GMap2(document.getElementById("map"));
				this.map.disableDragging();
				this.map.setCenter(new GLatLng({{ profile.latitude }}, {{ profile.longitude }}), 2);
				this.marker = new GMarker(new GLatLng({{ profile.latitude }}, {{ profile.longitude }}), {clickable: false, draggable: false});
				this.map.addOverlay(this.marker);
			}
		});
	</script>
	{% endif %}
{% endblock %}

{% block nav-main %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block content %}
	<form action="" method="post">
		<fieldset>
			<legend>{% trans "Name" %}</legend>
		{% if profile.firstname %}
			<input type="checkbox" name="firstname_public" {% if profile.visible.firstname %}checked="on"{% endif %}/>
			{{ profile.firstname }} {{ profile.surname }}
		{% else %}
			{% trans "Not set" %}
		{% endif %}
		</fieldset>

		<fieldset>
			<legend>{% trans "Gender" %}</legend>
		{% if profile.gender %}
			<input type="checkbox" name="gender_public" {% if profile.visible.gender %}checked="on"{% endif %} />
			{{ profile.get_gender_display }}
		{% else %}
			{% trans "Not set" %}
		{% endif %}
		</fieldset>

		<fieldset>
			<legend>{% trans "Url" %}</legend>
		{% if profile.url %}
			<input type="checkbox" name="url_public" {% if profile.visible.url %}checked="on"{% endif %} />
			<a href="{{ profile.url }}">{{ profile.url }}</a>
		{% else %}
			{% trans "Not set" %}
		{% endif %}
		</fieldset>

		<fieldset>
			<legend>{% trans "Years old" %}</legend>
		{% if profile.yearsold %}
			<input type="checkbox" name="birthdate_public" {% if profile.visible.birthdate %}checked="on"{% endif %}/>
			{{ profile.yearsold }} {% trans "years old." %}
		{% else %}
			{% trans "Not set" %}
		{% endif %}
		</fieldset>

		<fieldset>
			<legend>{% trans "About" %}</legend>
		{% if profile.about %}
			<input type="checkbox" name="about_public" {% if profile.visible.about %}checked="on"{% endif %}/>
			{{ profile.about|linebreaksbr }}
		{% else %}
			{% trans "Not set" %}
		{% endif %}
		</fieldset>

	{% if APIKEY %}
		<fieldset>
			<legend>{% trans "Country" %}</legend>
		{% if profile.country %}
			<input type="checkbox" name="country_id_public" {% if profile.visible.country_id %}checked="on"{% endif %}/>
			{{ profile.country }}
		{% else %}
			{% trans "Not set" %}
		{% endif %}
		</fieldset>

		<fieldset>
			<legend>{% trans "Location" %}</legend>
			{% if profile.location %}
			<input type="checkbox" name="location_public" {% if profile.visible.location %}checked="on"{% endif %}/>
			{{ profile.location }}
			<div id="map" style="width: 440px; height: 240px;"></div>
			{% else %}
			{% trans "Not set" %}
			{% endif %}
		</fieldset>
	{% endif %}

		<input type="submit" value="{% trans 'Save' %}" />
	</form>
{% endblock %}

{% block content-related %}
	<div class="box">
		<h3>{% trans "Public information" %}</h3>
		<p>{% trans "Select the information you have inserted on your profile that you want to make public" %}.</p>
	</div>
{% endblock %}
