{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Edit your personal information" %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/ui.datepicker.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.profile.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/ui.datepicker.css" type="text/css" />
{% ifequal LANGUAGE_CODE 'es' %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/ui.datepicker-{{ LANGUAGE_CODE }}.js"></script>
{% endifequal %}
<script type="text/javascript">
	$(function() {
		$("input[type='text']").addClass("text");
  	$("#id_firstname").focus();
		{% ifequal LANGUAGE_CODE 'es' %}
		$.datepicker.setDefaults($.datepicker.regional["{{ LANGUAGE_CODE }}"]);
		{% endifequal %}
  });
</script>
{% endblock %}

{% block content %}
{% include "userprofile/profile/menu.html" %}
<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
  <fieldset>
		<legend>{% trans "Edit your personal information" %}</legend>
   	<label for="id_firstname">{% trans "First Name:" %}</label>
   	<p>{{ form.firstname }}</p>
   	<label for="id_surname">{% trans "Surname:" %}</label>
   	<p>{{ form.surname }}</p>
   	<label for="id_gender">{% trans "Gender:" %}</label>
		<p style="overflow: hidden;">
			<a class="male" href="{{ request.path }}">{% trans "Male" %}</a>
			<a class="female" href="{{ request.path }}">{% trans "Female" %}</a>
		</p>
   	<label for="id_birthdate">{% trans "Birth date:" %}</label>
		<div class="calendar" style="clear: both; overflow: hidden;"></div>
   	<label for="id_url">{% trans "Url:" %}</label>
   	<p>{{ form.url }}</p>
   	<label for="id_about">{% trans "About:" %}</label>
   	<p>{{ form.about }}</p>
  	<p><input type="submit" value="{% trans 'Save' %}" /></p>
    <div class="hide">{{ form.birthdate }}{{ form.gender }}</div>
  </fieldset>
</form>
{% endblock %}
