{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ user.get_profile.user }}'s public profile{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
	{% if user.get_profile.latitude and user.get_profile.longitude and user.get_profile.visible.location %}
	<script type="text/javascript" src="http://www.google.com/jsapi?key={{ GOOGLE_MAPS_API_KEY }}"></script>
	<script type="text/javascript">google.load("maps", "2");</script>
	<script type="text/javascript">
		$(function() {
		if (google.maps.BrowserIsCompatible()) {
			var map = new google.maps.Map2(document.getElementById("map"));
      map.disableDragging();
			map.setCenter(new google.maps.LatLng({{ user.get_profile.latitude }}, {{ user.get_profile.longitude }}), 4);
			var marker = new google.maps.Marker(new google.maps.LatLng({{ user.get_profile.latitude }}, {{ user.get_profile.longitude }}), {clickable: false });
			map.addOverlay(marker);
		}
		});
	</script>
	{% endif %}
{% endblock %}

{% block content %}
	<h2>{% blocktrans with user.get_profile.user as user %}Public profile of {{ user }}{% endblocktrans %}</h2>

	<div class="vcard">
		<div class="span-10">
		{% if user.get_profile.avatar %}
			<img class="border top" src="{{ user.get_profile.get_avatar96_url }}" />
		{% else %}
			<img class="photo" src="{{ MEDIA_URL }}images/default.96.png" />
		{% endif %}

		<p>{% trans "Username" %}: <strong>{{ user.get_profile.user }}</strong></p>

		{% if user.get_profile.firstname and user.get_profile.visible.firstname %}
		<p>{% trans "Name" %}: <strong>{{ user.get_profile.firstname }} {{ user.get_profile.surname }}</strong></p>
		{% endif %}

		{% if user.get_profile.url and user.get_profile.visible.url %}
			<li>{% trans "Url" %}: <a href="{{ user.get_profile.url }}">{{ user.get_profile.url }}</a></li>
		{% endif %}

		{% if user.get_profile.about and user.get_profile.visible.about %}
			<li>{% trans "About" %}: {{ user.get_profile.about }}</li>
		{% endif %}
		</ul>
		</div>
		<div class="span-10 last">
		{% if user.get_profile.gender and user.get_profile.visible.gender %}
			<li>{% trans "Gender" %}: <img src="{{ user.get_profile.get_genderimage_url }}" /></li>
		{% endif %}

		{% if user.get_profile.country and user.get_profile.visible.country_id %}
			<li>{% trans "Country" %}: {{ user.get_profile.country }}</li>
		{% endif %}

		{% if user.get_profile.location and user.get_profile.visible.location %}
			<li>{% trans "Location" %}: {{ user.get_profile.location }}</li>
		{% endif %}
		</div>
	</div>

{% endblock %}
