{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ profile.user }}'s public profile{% endblock %}
{% block customjs %}
{% if profile.latitude and profile.visible.latitude %}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{ APIKEY }}"></script>
<script type="text/javascript">google.load("maps", "2");</script>
<script type="text/javascript">
	$(function() {
  	if (google.maps.BrowserIsCompatible()) {
      var map = new google.maps.Map2(document.getElementById("map"));
    	map.addControl(new google.maps.LargeMapControl());
    	map.addControl(new google.maps.OverviewMapControl())
    	map.addControl(new google.maps.MapTypeControl())
    	map.enableContinuousZoom();
    	map.setCenter(new google.maps.LatLng({{ profile.latitude }}, {{ profile.longitude }}), 4);
    	var marker = new google.maps.Marker(new google.maps.LatLng({{ profile.latitude }}, {{ profile.longitude }}), {clickable: false });
    	map.addOverlay(marker);
    }
	});
</script>
{% endif %}
{% endblock %}

{% block content %}
<h1>{% blocktrans with profile.user as user %}Public profile of {{ user }}{% endblocktrans %}</h1>
<div class="vcard">
	<ul>
		{% if profile.avatar %}
		<li><img class="photo" src="{{ profile.get_avatar96_url }}" /></li>
		{% else %}
		<li><img class="photo" src="{{ MEDIA_URL }}images/default.96.png" /></li>
		{% endif %}
  	<li>{% trans "Username" %}: {{ profile.user }}</li>
  	{% if profile.user.email and profile.visible.email %}<li>{% trans "E-mail" %}: {{ profile.user.email }}</li>{% endif %}
		{% if profile.firstname and profile.visible.firstname %}<li>{% trans "Name" %}: {{ profile.firstname }} {% if profile.visible.surname %}{{ profile.surname }}{% endif %}</li>{% endif %}
  	{% if profile.url and profile.visible.url %}<li>{% trans "Url" %}: <a href="{{ profile.url }}">{{ profile.url }}</a></li>{% endif %}
  	{% if profile.about and profile.visible.about %}<li>{% trans "About" %}: {{ profile.about }}</li>{% endif %}
		{% if profile.gender and profile.visible.gender %}<li>{% trans "Gender" %}: <img src="{{ profile.get_genderimage_url }}" /></li>{% endif %}
		{% if profile.country and profile.visible.country_id %}<li>{% trans "Country" %}: {{ profile.country }}</li>{% endif %}
		{% if profile.location and profile.visible.location %}<li>{% trans "Location" %}: {{ profile.location }}</li>{% endif %}
	</ul>
</div>
{% if profile.latitude and profile.visible.latitude %}
<div id="map"></div>
{% endif %}
{% endblock %}

