{% load i18n %}
<div class="vcard span-8">
	<div class="span-2">
		<img class="photo" src="{{ profile.get_avatar64_url|default:"/site_media/images/default.64.png" }}" alt="{{ profile.user }}"/>
	</div>
	<div class="span-5">
		<ul>
			{% if profile.gender and profile.visible.gender %}<li><img class="gender" style="clear: right;" src="{{ profile.get_genderimage_url }}" /> {{ profile.get_gender_display }}</li>{% endif %}
  		<li class="fn username"><strong>{% trans "Username" %}:</strong> {{ profile.user }}</li>
			{% if profile.country and profile.visible.country_id %}<li><strong>{% trans "Country" %}:</strong> {{ profile.country }}</li>{% endif %}
			{% if profile.yearsold and profile.visible.birthdate %}<li><strong>{% trans "Age" %}:</strong> {{ profile.yearsold }}</li>{% endif %}
			{% if profile.url and profile.visible.url %}<li><a class="url" href="{{ profile.url }}"> {% trans "My Website" %}</a></li>{% endif %}
			<li><a href="{{ profile.get_absolute_url }}">{% trans "All public profile information" %}</a></li>
		</ul>
	</div>
</div>
