{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "User login" %}{% endblock %}

{% block customjs %}
<script type="text/javascript">
	$(function() {
		$("input[type='text'], input[type='password']").addClass("text");
		$("#id_username").focus();
	});
</script>
{% endblock %}

{% block content %}
<div class="span-10 colborder">
	<form method="post" action="{% if next %}?next={{ next }}{% endif %}">
		<fieldset>
			<legend>{% trans "User login" %}</legend>
   		<label for="id_username">{% trans "Username:" %}</label>
   		<p>{{ form.username }}</p>
   		<label for="id_password">{% trans "Password:" %}</label>
   		<p>{{ form.password }}</p>
   		<p><input type="submit" value="{% trans 'Login' %}" /></p>
 		</fieldset>
 		{% if form.has_errors %}
 		<p class="error">{% trans "Your username and password didn't match. Please try again." %}</p>
		{% endif %}
	</form>
</div>
<div class="span-13 last">
	<ul class="large cleanul">
  	<li>{% blocktrans %}If you already have an account, but have lost your password, <a href="/accounts/password/reset/">click here</a>.{% endblocktrans %}</li>
		<li>{% blocktrans %}If you don't have an account, you can <a href="/accounts/register/">sign up</a>.{% endblocktrans %}</li>
	</ul>
</div>
{% endblock %}

