{% extends "base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validation.js"></script>
<script type="text/javascript">
	$(function() {
		$("#id_email").focus();
		$("input[type='text']").addClass("text");
	});
</script>
{% endblock %}

{% block content %}
	<form action="" method="post" accept-charset="utf-8">
	<fieldset>
		<legend>{% trans "Password reset" %}</legend>
		<label for="id_email">{% trans 'E-mail address' %}</label>
		<p>{{ form.email }}
			{% if form.email.errors %}
				<span class="quiet"><br />* {{ form.email.errors|join:"; " }}</span>
			{% endif %}
		</p>
		<input type="submit" value="{% trans 'Reset my password' %}" />
	</fieldset>
	</form>
{% endblock %}

{% block content-related %}
	<br />
	<h4>{% trans "Forgotten your password? Enter your e-mail address, and we'll reset your password and e-mail the new one to you" %}.</h4>
{% endblock %}
