{% extends "base_2col.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change for' %} {{ user }}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		$("#id_newpass1").focus();
		$("input[type='password']").addClass("text");
	});
</script>
{% endblock %}

{% block nav-main %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block content %}
	<form action="" method="post" accept-charset="utf-8">
	<fieldset>
		<legend>{% trans 'Password change for' %} {{ user }}</legend>
		<label for="id_newpass1">{% trans "New password" %}</label>
		<p>{{ form.newpass1 }}
			{% if form.newpass1.errors %}
				<span class="quiet"><br />* {{ form.newpass1.errors|join:"; " }}</span>
			{% endif %}
		</p>
		<label for="id_newpass2">{% trans "Confirm password" %}</label>
		<p>{{ form.newpass2 }}
			{% if form.newpass2.errors %}
				<span class="quiet"><br />* {{ form.newpass2.errors|join:"; " }}</span>
			{% endif %}
		</p>
	</fieldset>
	<input type="submit" value="{% trans 'Change' %}" />
	</form>
{% endblock %}

{% block content-related %}
	<div class="box">
		<h3>{% trans 'Password change' %}</h3>
		<p>{% trans "Password change utility page. Please enter your new password twice so we can verify you typed it in correctly" %}.</p>
	</div>
{% endblock %}
