{% extends "base.html" %}
{% load i18n %}
	{% block title %}{% trans "User registration" %}{% endblock %}
{% block customjs %}
	<script type="text/javascript">
		$(function() {
			$("input#id_username").focus();
			$("input[type='text'], input[type='password']").addClass("text");
		});
	</script>
{% endblock %}

{% block content %}
<h4>{% trans "Joining this community is quick and easy. You only need to fill the following information to get access to all the private content." %}</h4>
<form method="post" action="">
	<fieldset>
		<legend>{% trans "User registration" %}</legend>
		<div class="span-11">
 			<label for="id_username">{% trans "Username:" %}</label>
 			<p>{{ form.username }}</p>
		</div>
		<div class="span-11 last">
 			<label for="id_email">{% trans "E-mail (optional):" %}</label>
 			<p>{{ form.email }}</p>
		</div>
		<div class="span-11">
 			<label for="id_password1">{% trans "Password:" %}</label>
 			<p>{{ form.password1 }}</p>
		</div>
		<div class="span-11 last">
 			<label for="id_password2">{% trans "Password again:" %}</label>
 			<p>{{ form.password2 }}</p>
		</div>
 		<input type="submit" value="{% trans 'Register' %}" />
	</fieldset>
 	{% if form.errors %}
		{% for error,desc in form.errors.items %}
 			<p class="error">{{ error }}: {{desc|join:","}}</p>
		{% endfor %}
 	{% endif %}
</form> 
<p>{% trans "If you already registered an account, but have not received the validation e-mail, please, click" %} <a href="/accounts/validation/reset/">{% trans "here" %}</a></p>
{% endblock %}
