{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Choose the source location of your avatar" %}{% endblock %}
{% block customjs %}
	<script type="text/javascript">
		$(function() {
  		//avatar
  		$("a.delavatar").click(function() {
    		$.getJSON($(this).attr("href"), function(data) {
      		if (data.success) {
        		$("img#avatarimg").attr("src", "/site_media/images/default.png");
      		}
    		});
    		return false;
  		});
     	$("#id_photo").change(function() {
       	$("form").submit();
     	});
		});
	</script>
{% endblock %}
{% block content %}
{% include "userprofile/menu.html" %}
<div class="span-3 center">
{% if profile.avatar %}
	<img id="avatarimg" src="{{ profile.get_avatar96_url }}" />
	<p style="text-align: center;"><a href="{{ request.path }}delete/" class="delavatar">{% trans "Delete" %}</a></p>
{% else %}
	<img id="avatarimg" src="{{ MEDIA_URL }}images/default.96.png" /><br />
{% endif %}
</div>
<div class="span-18">
  <form action="" method="post" enctype="multipart/form-data">
		<fieldset>
			<legend>{% trans "Choose the source location of your avatar" %}</legend>
			<h4>{% trans "You have 3 options to select the image you want as avatar in your profile:" %}</h4>
			<ol>
				<li>
   				<label for="id_url">{% trans "Select an image from a remote URL. Put the URL on the input below and we'll retrieve the image for you:" %}</label>
					<p>{{ form.url }}<input type="submit" value="{% trans "Done" %}" /></p>
				</li>
				<li>
    			<label for="id_photo">{% trans "Select an image from disk:" %}</label>
    			<p>{{ form.photo }}</p>
				</li>
				{% if websearch %}
				<li>
					<a class="large" href="{{ request.path }}search/">{% trans "Search for an image on Picasa Web" %}</a>
				</li>
				{% endif %}
			</ol>
		</fieldset>
  </form>
  {% if form.errors %}
  {% for error,desc in form.errors.items %}
    <p class="error">{{desc|join:","}}</p>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
