{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Search for an image on Picasa Web" %}{% endblock %}
{% block customjs %}
  <script type="text/javascript">
    $(function() {
			$("input[type='text']").focus();
      $("div.photos a").click(function() {
        $("form#avatar input[name='url']").val($(this).attr("href"));
        $("form#avatar").submit();
        return false;   
			});
		});
	</script>
{% endblock %}
{% block content %}
{% include "userprofile/menu.html" %}
<form action="" method="post">
	<fieldset>
		<legend>{% trans "Search for an image on Picasa Web" %}</legend>
		<p>{% trans "Search on Picasa Web:" %} <input type="text" name="keyword" value="{{ keyword }}" /> <input type="submit" value="{% trans "Search" %}"/></p>
		<div class="photos">
			{% for thumb,url in data.items %}
				<a href="{{ url }}"><img src="{{ thumb }}" /></a>
			{% endfor %}
		</div>
	</fieldset>
</form>
<form class="hide" id="avatar" action="/accounts/profile/edit/avatar/" method="POST">
	<input type="hidden" name="url" value="" />
</form>
{% endblock %}
