{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block customjs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validation.js"></script>
<script type="text/javascript">
	$(function() {
		$("#id_email").focus();
		$("input[type='text']").addClass("text");
	});
</script>
{% endblock %}

{% block content %}
<h4>{% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}</h4>
<div class="span-12">
	<form action="" method="post">
 		<fieldset>
			<legend>{% trans "Password reset" %}</legend>
    	<label for="id_email" style="width: 240px;">{% trans 'E-mail address:' %}</label>
    	<p>{{ form.email }}</p>
   		<p><input type="submit" value="{% trans 'Reset my password' %}" /></p>
 		</fieldset>
		{% if form.errors %}
		<p class="error">{{form.email.errors|join:","}}</p>
		{% endif %}
	</form>
</div>
{% endblock %}
